---
import "/node_modules/@glidejs/glide/dist/css/glide.core.min.css";
import SlideGen from "../slideGen.astro";
import { slides_dat } from "../../data/slideDat";
import GhostSpacer from "./GhostSpacer.astro";
import "../../styles/componentStyles/tabunganGrid.scss";
import "../../styles/componentStyles/depositoGrid.scss";
import "../../styles/componentStyles/kreditGrid.scss";
import "../../styles/componentStyles/kreditSlider.scss";
---

<!-- <div id="pageLabel">
  <div class="menuMessageBox mini">Welcome!</div>
</div> -->
<div class="herologo">
  <img
    src=`${import.meta.env.BASE_URL}/src/assets/mybpr.svg`
    alt="MyBPR Logo"
  />
</div>

<div class="heroGlide heroCarousel">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      {
        Object.entries(slides_dat).map(([key, slide]) => (
          <SlideGen
            id={slide.id}
            title={slide.title}
            description={slide.description ?? ""}
            subcat={slide.subcat ?? undefined}
            images={slide.images}
            button={slide.button}
          />
        ))
      }
    </ul>
  </div>
  <div class="glide__bullets heroSlideBullets" data-glide-el="controls[nav]">
    {
      Object.entries(slides_dat).map(([key], i) => (
        <button class="glide__bullet" data-glide-dir={`=${i}`}>
          <span class="heroBulletIndex">{i + 1}</span>
        </button>
      ))
    }
  </div>
</div>
<div class="centering">
  <div class="main">
    <hr class="divider" />
    <!-- ############################################################### -->
    <div class="mbox kp1" id="kredit_promo">
      <div class="kp_ib">
        <div class="kp subPseudoImgBox"></div>
        <div class="kp pseudoImgBox"></div>
        <div class="kp kreditBg"></div>
        <div class="kp kreditBanner"></div>
      </div>
      <div class="kp promo_textbox">
        <span class="kp product_label">Kredit</span>
        <h1 class="kp promo_heading">Kredit Express</h1>
        <p class="kp promo_p">
          Butuh dana cepat untuk wujudkan rencana besar? Pinjaman kami hadir
          dengan proses mudah, bunga ringan, dan cicilan fleksibel. Baik untuk
          modal usaha, renovasi rumah, atau kebutuhan mendesak lainnya, kami
          siap memberikan solusi keuangan yang tepat.
          <br /><br />Ajukan pinjaman sekarang dan dapatkan dana tanpa repot!
          Wujudkan impian Anda hari ini!
        </p>
      </div>
    </div>
    <!-- ############################################################### -->
    <div class="mbox kp2" id="kredit_promo">
      <div class="pseudoGrid">
        <div class="kp_ib">
          <div class="kp b2 subPseudoImgBox"></div>
          <div class="kp b2 pseudoImgBox"></div>
          <div class="kp b2 _3m"></div>
          <div class="kp b2 plafond_textbox">
            <span class="plafond-t">Plafond</span>
            <span class="plafond-t">sampai</span>
            <span class="plafond-t">dengan</span>
          </div>
        </div>
        <div class="kp_ib">
          <div class="kp subPseudoImgBox"></div>
          <div class="kp pseudoImgBox"></div>
          <div class="kp _3t5_bolt"></div>
          <div class="kp _3t5_clock"></div>
          <div class="kp _3t5_textbox">
            <span class="_3t5-t">Proses</span>
            <span class="_3t5-t">3-5</span>
            <span class="_3t5-t">Hari Kerja<span class="ast">*</span></span>
          </div>
          <span class="astans">*Setelah data lengkap</span>
        </div>
      </div>
      <!-- <div class="pseudoGrid">
        <div class="bigTextBox">Dengan plafond sampai dengan 3M,</div>
        <div class="bigTextBox">
          proses pencairan Kredit Express cepat, hanya 3 sampai 5 hari kerja
        </div>
      </div> -->
    </div>
    <!-- ############################################################### -->
    <div class="mbox" id="flowchart_kredit">
      <div class="kredit_stringbox">Alur Pengajuan Kredit</div>
      <div class="kredit_glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide kredit">
              <div class="ffpImageBox">
                <div
                  class="ffpImg"
                  style="background: url(/mybpr-web/imgs/webview/ffp1.jpg) center/cover no-repeat;"
                >
                </div>
                <span class="ffpIco material-symbols-rounded">publish</span>
              </div>
              <div class="ffpStepLabel">01</div>
              <div class="ffpHeading">Step 1: Pengajuan Kredit</div>
              <div class="ffpTextBox">
                Ingin investasi yang aman dengan hasil pasti? Deposito kami
                adalah pilihan tepat! Nikmati suku bunga tinggi dan jangka waktu
                fleksibel sesuai kebutuhan. <br />Dengan deposito, Investasi
                tumbuh secara stabil tanpa risiko, menjadikannya solusi yang
                ideal.

                <br /><br />Amankan masa depan finansial dengan cara yang mudah
                dan menguntungkan. Investasikan hari ini, nikmati keuntungannya
                di kemudian hari!
              </div>
            </li>
            <li class="glide__slide kredit">
              <div class="ffpImageBox">
                <div
                  class="ffpImg"
                  style="background: url(/mybpr-web/imgs/webview/ffp2.jpg) center/cover no-repeat;"
                >
                </div>
                <span class="ffpIco material-symbols-rounded"
                  >content_paste_search</span
                >
              </div>
              <div class="ffpStepLabel">02</div>
              <div class="ffpHeading">Step 2: Peninjauan & Verifikasi</div>
              <div class="ffpTextBox">
                Tahap evaluasi dan pengecekan untuk memastikan kualitas,
                keakuratan dan validitas informasi atau layanan sebelum
                keputusan final dibuat
              </div>
            </li>
            <li class="glide__slide kredit">
              <div class="ffpImageBox">
                <div
                  class="ffpImg"
                  style="background: url(/mybpr-web/imgs/webp/ffp3.webp) center/cover no-repeat;"
                >
                </div>
                <span class="ffpIco material-symbols-rounded">check_circle</span
                >
              </div>
              <div class="ffpStepLabel">03</div>
              <div class="ffpHeading">Step 3: Persetujuan kredit</div>
              <div class="ffpTextBox">
                Tahap pemrosesan informasi dan data yang dikumpulkan untuk
                melakukan penilaian, mengevaluasi dan membuat keputusan
                persetujuan. <br /><br />Kemampuan debitur untuk membayar,
                riwayat kredit, dan kepatuhan terhadap persyaratan adalah
                beberapa faktor yang akan dipertimbangkan
              </div>
            </li>
            <li class="glide__slide kredit">
              <div class="ffpImageBox">
                <div
                  class="ffpImg"
                  style="background: url(/mybpr-web/imgs/webview/ffp4.jpg) center/cover no-repeat;"
                >
                </div>
                <span class="ffpIco material-symbols-rounded">handshake</span>
              </div>
              <div class="ffpStepLabel">04</div>
              <div class="ffpHeading">Step 4: Pencairan kredit</div>
              <div class="ffpTextBox">
                MyBPR akan mengatur pencairan dana ke rekening debitur. Debitur
                akan menerima jumlah kredit yang disepakati sesuai dengan
                ketentuan yang telah disepakati. <br /><br />Setelah pencairan,
                debitur akan memulai pembayaran kredit sesuai dengan jadwal
                pembayaran yang telah ditentukan.
              </div>
            </li>
          </ul>
        </div>
        <div class="glide__bullets kredit" data-glide-el="controls[nav]">
          <button
            class="glide__bullet material-symbols-rounded"
            data-glide-dir="=0"
            ><span class="kreditBulletIndex">publish</span></button
          >
          <button
            class="glide__bullet material-symbols-rounded"
            data-glide-dir="=1"
            ><span class="kreditBulletIndex">content_paste_search</span></button
          >
          <button
            class="glide__bullet material-symbols-rounded"
            data-glide-dir="=2"
            ><span class="kreditBulletIndex">check_circle</span></button
          >
          <button
            class="glide__bullet material-symbols-rounded"
            data-glide-dir="=3"
            ><span class="kreditBulletIndex">handshake</span></button
          >
        </div>
        <div class="glide__arrows kredit" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<"
          ></button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">"
          ></button>
        </div>
      </div>
    </div>
    <hr class="divider" />
    <!-- ############################################################### -->
    <div class="mbox tb" id="tabungan_promo">
      <div class="tb_ib">
        <div class="subPseudoImgBox"></div>
        <div class="pseudoImgBox"></div>
        <div class="graphic tb1"></div>
        <div class="graphic tb2"></div>
        <div class="graphic tb3"></div>
      </div>
      <div class="promo_textbox">
        <span class="product_label">Tabungan</span>
        <h1 class="promo_heading">Buka Tabungan</h1>
        <p class="promo_p">
          Ingin menabung dengan cara yang cerdas dan mudah? Tabungan kami hadir
          untuk membantu mewujudkan impian, besar maupun kecil. <br /><br
          />Dengan bunga kompetitif dan fleksibilitas tinggi. mengelola keuangan
          tanpa repot. Baik untuk rencana liburan, pendidikan, atau dana
          darurat, kami siap menjadi partner keuangan terpercaya Anda. Tabung
          hari ini, nikmati manfaatnya di masa depan!
        </p>
      </div>
    </div>
    <div class="tbTitle"><div class="tbt">Bunga Tabungan</div></div>
    <div class="mbox tb2">
      <div class="tbBox">
        <div class="tbAmount"><span class="tbSymb">≤</span>Rp. 100 Juta</div>
        <div class="tbInterest">3,00%<span class="pa">p.a.</span></div>
      </div>
      <div class="tbBox">
        <div class="tbAmount"><span class="tbSymb">≥</span>Rp. 100 Juta</div>
        <div class="tbInterest">3,50%<span class="pa">p.a.</span></div>
      </div>
    </div>
    <hr class="divider" />
    <!-- ############################################################### -->
    <div class="mbox dp" id="deposito_promo">
      <div class="dp_ib">
        <div class="subPseudoImgBox"></div>
        <div class="pseudoImgBox"></div>
        <div class="graphic dp1"></div>
        <div class="graphic dp3"></div>
        <div class="graphic dp2"></div>
        <div class="graphic dp4"></div>
      </div>
      <div class="promo_textbox">
        <span class="product_label">Deposito</span>
        <h1 class="promo_heading">Mulai Deposito</h1>
        <p class="promo_p">
          Ingin investasi yang aman dengan hasil pasti? Deposito kami adalah
          pilihan tepat! Nikmati suku bunga tinggi dan jangka waktu fleksibel
          sesuai kebutuhan.
          <br />Dengan deposito, Investasi tumbuh secara stabil tanpa risiko,
          menjadikannya solusi yang ideal.

          <br /><br />Amankan masa depan finansial dengan cara yang mudah dan
          menguntungkan. Investasikan hari ini, nikmati keuntungannya di
          kemudian hari!
        </p>
      </div>
    </div>
    <div class="dpTitle">Bunga Deposito</div>
    <div class="mbox dp2">
      <div class="dpBox">
        <div class="dpRow">
          <div class="dpDuration"><span class="dpIndex">1</span>1 Bulan</div>
          <div class="dpInterest">4,00%</div>
        </div>
        <div class="dpRow">
          <div class="dpDuration"><span class="dpIndex">2</span>3 Bulan</div>
          <div class="dpInterest">4,25%</div>
        </div>
        <div class="dpRow">
          <div class="dpDuration"><span class="dpIndex">3</span>6 Bulan</div>
          <div class="dpInterest">5,25%</div>
        </div>
        <div class="dpRow">
          <div class="dpDuration"><span class="dpIndex">4</span>12 Bulan</div>
          <div class="dpInterest">5,75%</div>
        </div>
      </div>
    </div>
    <hr class="divider" />
    <!-- ############################################################### -->
    <!-- <GhostSpacer /> -->
  </div>
</div>

<script>
  import Glide from "@glidejs/glide";
  import { Breakpoints } from "@glidejs/glide/dist/glide.modular.esm";

  function initGlide(mount = true) {
    if (!mount) return;

    const heroGlide = new Glide(".heroGlide", {
      type: "carousel",
      autoplay: 5000,
      //hoverpause: true,
      animationDuration: 300,
      perView: 1,
      animationTimingFunc: "cubic-bezier(.55,-0.01,0,1)",
      gap: 0,
    });
    heroGlide.on("run", function () {
      const active = document.querySelector(".glide__slide--active");
      if (active) {
        active.classList.remove("fade-in");
      }
    });
    heroGlide.on("move.after", function () {
      // transition is done, trigger fade-in on active slide
      const active = document.querySelector(".glide__slide--active");
      if (active) {
        active.classList.add("fade-in");
      }
    });

    const kreditGlide = new Glide("#flowchart_kredit .kredit_glide", {
      type: "slider",
      //autoplay: 5000,
      hoverpause: true,
      animationDuration: 300,
      perView: 3,
      startAt: 0,
      focusAt: "center",
      animationTimingFunc: "cubic-bezier(.55,-0.01,0,1)",
      gap: 20,
      breakpoints: {
        767: { perView: 1 },
        1586: { perView: 2 },
      },
    });

    heroGlide.mount();
    kreditGlide.mount({ Breakpoints });
  }

  document.addEventListener("astro:before-preparation", () => initGlide(false));
  document.addEventListener("astro:page-load", () => initGlide(true));
  // document.addEventListener("astro:after-swap", () => initGlide(true));
</script>

<style lang="scss">
  @use "../../styles/mixins" as *;

  // * {
  //   border: 1px solid red;
  // }

  .promo_heading {
    font-size: 6rem;
    font-weight: 900;
    margin-top: 0;
  }
  .promo_p {
    font-size: 1.7rem;
    font-family: var(--content);
  }
</style>
