---
interface Props {
  stayAwake?: boolean;
  freeze?: boolean;
}
const { stayAwake, freeze } = Astro.props;
---

<nav
  id="dynamicnav"
  class="navDormant static"
  data-stay-awake={stayAwake}
  data-freeze={freeze}
>
  <a id="nlogo" href={import.meta.env.BASE_URL}>
    <svg
      id="Layer_2"
      data-name="Layer 2"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 184.32 72.96"
    >
      <g>
        <g>
          <path
            class="nlogo"
            d="M90.11,11.6h5.03l-.12,26.07h-5.39v-15.31c-2.91,3.85-4.93,8.36-7.67,12.32-.76.14-2.43.35-3-.12l-7.31-11.72v14.47s-.33.36-.36.36h-5.39V11.6h4.91l9.83,16.02,9.47-16.02Z"
          ></path>
          <g>
            <path
              class="nlogo"
              d="M103.9,17.58l5.75,13.4,5.75-13.4h5.39l-9.87,23.28c-1.94,3.39-4.78,4.62-8.7,4.23-.82-.08-4.01-1.01-4.16-1.82-.04-.21,1.7-3.7,1.88-3.81.43-.27,1.61.73,2.3.84,2.41.38,3.53-.29,4.41-2.49l-8.62-20.22h5.87Z"
            ></path>
            <path
              class="nlogo"
              d="M126.31,10.64v10.29c8.96-7.9,18.31,2.07,14.11,12.05-2.44,5.79-9.69,7.03-13.99,2.55-.33.46.15,1.7-.34,2.05-.36.25-2.65.2-2.65-.25V10.64h2.88ZM131.28,20.75c-7.55,1.09-7.23,16.06,2.31,14.75,7.26-1,6.82-16.07-2.31-14.75Z"
            ></path>
          </g>
        </g>
        <g>
          <path
            class="nlogo"
            d="M23.96,21.89c.66.63-3.01,2.85-3.72,2.88-1.92.1-3.01-1.71-4.69-2.31-.12-1.79,1.29-.47,2.53-.34,1.95.2,3.94-.12,5.87-.23Z"
          ></path>
          <path
            class="nlogo"
            d="M46.49,20.69c.72.77-2.02,2.96-2.77,3.1-1.43.27-3.65-.57-4.88-1.33-2.64-1.64,1.66-.8,2.25-.8,1.88,0,3.65-.35,5.4-.97Z"
          ></path>
          <path
            class="nlogo"
            d="M37.14,30.02c.7,3.98-3.14,4.9-6.35,4.55-1.22-.13-2.41-.92-3.72-.72v-.72c2.3-.16,6.56,1.1,8.26-.97.75-.91.47-2.51,1.81-2.15Z"
          ></path>
          <path
            class="nlogo"
            d="M21.77,18.56c.69.8-1.42,2.54-2.27,2.61-1.22.1-2.3-1.55-2.99-2.3-.31-1.94,4.9-.72,5.25-.31Z"
          ></path>
          <path
            class="nlogo"
            d="M44.5,19.9c-1.13,1.55-5,.71-4.45-1.2.22-.77,3.68-1.33,4.37-1.09s.38,1.87.08,2.29Z"
          ></path>
          <path
            class="nlogo"
            d="M21.29,9.18s-.66.21-.91.4c-1.52,1.14-2.75,2.21-3.13,4.17,1.6-.57,2.87-1.69,4.39-2.43,5.33-2.59,10.39-3.54,15.82-.63.82.44,5.29,4.1,5.68,3.78-.38-1.09-.88-2.14-1.67-2.99-.67-.72-3.98-2.64-4.07-2.87-.04-.1-.1-.59.11-.59,1.14-.16,3.95,1.28,5.04,1.91,2.89,1.68,5.04,3.94,5.15,7.42-4.23-1.02-8.17.7-12.22,1.44.08-2.55,5.48-3.55,1.66-5.85-2.98-1.79-7.94-2.33-11.26-1.46-.91.24-3.24,1.59-3.06,2.58.2,1.15,3.75,2.83,3.08,4.73l-1.26-.06c-3.51-1.44-7.31-1.36-11.03-1.9-.73-.32-.36-1.18-.18-1.76.68-2.14,2.4-4.09,4.25-5.33.47-.31,2.99-1.74,3.31-1.71.31.03.5.88.33,1.16Z"
          ></path>
          <path
            class="nlogo"
            d="M17.97,43.89c-.2-.49.53-1.01.48-1.3-.15-.78-3.48-.34-1.44-2.52-.59-.11-2.13-.9-1.92-1.56.55-.48,1.94-.39,1.33-1.32-.15-.22-.96-.36-.73-.71.46-.67,3.52-.68,3.72-.96.12-.17-.85-1.38.54-1.97,2.15-.91,6.31,1.29,7.96,2.69,2.26,1.92,2.57,3.64.1,5.6-2.65,2.1-6.8,2.38-10.04,2.05Z"
          ></path>
          <path
            class="nlogo"
            d="M41.21,33.62c.2.23-.37,1.48-.23,1.9.64-.16,1.08.37,1.57.47.56.12,2.61-.31,1.91.98-.44.81-1.88.25.84,1.55.14.8-1.24,1.55-1.93,1.55.22.57.82.99.72,1.67-.56-.03-1.53.22-1.93.6-.33.31.24.91-.21,1.21-.36.23-.94.02-1.32.12-1.61.44-2.78.28-4.51-.07-1.52-.3-3.1-1.58-4.41-2.39.05-.62-1.06-1.96-.99-2.41.13-.88,1.73-2.5,2.47-3.04,1.5-1.08,4.38-2.4,6.23-2.41.28,0,1.73.2,1.79.27Z"
          ></path>
          <path
            class="nlogo"
            d="M37.57,51.49c-1.11.64-1.81-.69-2.51-1.1-3.38-2.02-6.56-1-9.73.68-.23.12-.19.82-1.21.43-.3-.11-1.69-2.18-1.78-2.53-.68-2.63,2.48-4.48,4.63-5.07,3.22-.88,9.24-1.05,11.14,2.25.59,1.04.91,2.09.66,3.3-.06.3-1.05,1.95-1.19,2.03Z"
          ></path>
          <g>
            <path
              class="nlogo"
              d="M14.93,29.86c.17-.12,1.07-.38,1.12-.32-.15,1.45-1.32,2.55-1.85,4.01-.3.84-.66,2.2-.76,3.07-.08.75.24,3.24-.41,3.43s-7.86-3.54-8.61-4.29c-.55-.55-1.09-1.6-.7-2.37l6.88-12.77c.23-.09.42-.24.67-.06.77.56-1.02,4.57-1.19,5.53-.14.76-.29,2.78-.27,3.58.11,3.49,2.28,2.85,4.33,1.2.38-.3.58-.85.79-1.01Z"
            ></path>
            <path
              class="nlogo"
              d="M12.42,6.61c.61.96-.76.59-1.28.7l-2.29.7c.6.1,2.19-.23,2.53.23.74,1.02-.84.56-1.09,1.21.63-.19,3.25-.81,3.59-.47.45.43-.42.7-.48.95,5.01-1.64-.16,2.02-1.32,3.35-.41.46-1.48,1.82-1.77,2.3-.39.66-.04,1.59-1.06,1.49-.27-.03-2.08-1.47-2.34-1.75-3.62-3.76-2.47-8.62.86-12.09.71.71,1.49,1.4,2.3,2.01.46.35,2.27,1.25,2.35,1.37Z"
            ></path>
          </g>
          <g>
            <path
              class="nlogo"
              d="M50.28,20.5l5.65,10.26c.64,1.78,2.02,3.38.36,5.09-1.02,1.05-6.81,3.94-8.3,4.39-.33.1-.68.07-1.02.06-.03-.85.65-1.14.73-2.03.08-.94-.52-3.96-.87-4.89-.47-1.25-1.94-2.45-1.78-3.84.65-.73,3.74,4.67,5.71,2,.73-.99.25-1.35.26-2.35.03-3.18-1.15-5.16-1.42-7.9-.07-.73-.11-1.03.68-.79Z"
            ></path>
            <path
              class="nlogo"
              d="M48.65,8.25c.01-.9,1.12-1.02,1.69-1.55s2.05-2.77,2.75-2.77c.76,0,3.32,3.75,3.6,4.55,1.1,3.21-.19,6.94-3.02,8.72-.38.24-.91-.08-1.05.62.23-1.39-1.27-2.62-2.27-3.47-1.2-1.03-2.54-1.97-4.09-2.41l.02-1.06,2.4.48c-2.47-2.24.84-1.07.96-1.19.05-.06.07-1.03.28-1.16.18-.11.67,0,.97-.1.35-.11,1.25-.33,1.39-.66h-3.6Z"
            ></path>
          </g>
        </g>
        <g>
          <path
            class="nlogo"
            d="M149.32,35.28v10.05h-2.64v-26.55c.43.07,2.54-.1,2.64,0,.17.17-.35,2.21.36,1.91,5.45-5.09,13.28-2.31,14.68,4.97,1.9,9.83-7.1,16.79-15.04,9.63ZM154.53,20.75c-7.04.99-6.95,13.62-.48,14.71,10.44,1.76,10.23-16.09.48-14.71Z"
          ></path>
          <path
            class="nlogo"
            d="M169.69,18.78h2.88s0,2.87,0,2.87c1.22-1.63,2.21-3.1,4.43-3.35.51-.06,2.99-.08,3.25.11.45.32.14,1.93.23,2.53-3.42-.56-5.91.4-7.14,3.76-.21.56-.77,2.58-.77,3.06v9.93c-.51-.05-2.88.21-2.88-.36v-18.54Z"
          ></path>
        </g>
      </g>
      <g>
        <path
          class="nlogo"
          d="M28.51,58.72c.07.07,1.21-.61,1.2.36,0,.62-1.7,2.04-1.44,2.99,2.4.04,2.67-2.89,4.62-3.64,3-1.15,1.54,2.14.89,1.49-.04-.35.64-1.34-.12-1.2-2.03.39-3.82,4.7.13,3,1.76-.75,2.56-3.21,4.43-3.26.79-.02,1.23.62,2.03.5.23.21-2.64,2.97-.84,3.12,2.03.17,3.17-2.95,4.11-3.32,1.42-.56-.6,1.62-.73,1.9-.9,1.98.41,1.46,1.42.46.16-.15,2.73-3.71,2.22-1.85-.23.83-1.18,1.49-1.03,2.32,1.52-.75,2.15-3.07,4.09-3.13.79-.02,1.23.62,2.03.5-.38,1.1-1.65,1.74-1.44,3.11,2.72.49,3.84-3.54,6.12-3.61.79-.02,1.23.62,2.03.5-.36,1.16-1.8,1.57-1.44,3.11.36.37,2.69-.89,3.04-1.27.33-.36,1.25-2.52,1.39-2.56.77-.23.63.19.36.72.25.22,1.81-1.34,2.13-.32s-.89,1.87-1.22,2.8c-.1.27-.25.55.17.64.65.14,1.92-.97,2.39-1.43.46,1.02-2.28,2.6-3,1.8-.92-1.03.62-2.12.91-2.93.57-1.58-2.03.91-2.23,1.12-.34.37-.85,1.44-1.08,1.57-.26.15-.62-.11-.79-.05-1.09.39-2.49,1.61-2.8-.56-.99,1.03-2.87,2.15-3.12,0-.72.61-2.15,1.67-3.11,1.08-.24-.15-.38-.78-.6-.84-.35-.09-2.33,2.5-3.11-.24-2.28,1.35-2.49,3.88-4.07,5.74-2.26,2.66-4.2,1.34-2-1.28.95-1.13,2.79-2.17,3.74-3.19.18-.2.58-.42.3-.79-.06-.08-.99.96-1.76.7-.66-.22-.11-1.45-.75-1.18-.26.11-.67.71-1.22.93-2.2.9-2.02-.82-2.6-.69-.37.08-.52,1.04-1.69.98s-.71-.86-.84-.98c-.27-.26-1.23.53-1.6.67-2.33.87-2.62-.86-3.07-.87-.25,0-2.04,1.89-2.78.76-.82-1.27,1.36-3.07,1.22-3.18l-1.68.47c-.21-.97-.21-2.09,1.07-2.15.65.27.02,1.09.12,1.19ZM38.26,59c-.81.07-2.45,1.71-2.52,2.52-.2,2.3,4.93-2.74,2.52-2.52ZM46.97,62.07c.58.56,3.71-1.85,3-2.88-.29-.39-.45-.16-.78-.05-1.11.38-2.21,1.73-2.22,2.92ZM53.68,62.07c.99.41,3.92-2.31,2.88-2.99-.81-.53-3.33,1.94-2.88,2.99ZM43.13,64.23c-.45-.1-.57.25-.84.48-.5.41-3.01,3.05-2.51,3.59,1.11.32,3.56-3.85,3.35-4.06Z"
        ></path>
        <path
          class="nlogo"
          d="M140.45,54.42l-.72,1.91c.73.07,1.57-.09,2.28,0,.35.04.74.18.35.48-1.01.12-2.58-.28-3.45.27-.3.19-1.72,1.91-2.18,2.37-.51.51-2.18,1.38-1.46,2.4.95,1.34,3.53-2.28,4.23-2.75,1.37-.91,1.88-.64,3.34-.13-.31,1.14-1.49,1.77-1.2,3.11.34.05.64-.02.96-.11.62-.18,3.4-2.27,3.53-2.69.12-.38,0-.83.18-1.26.27-.62,1.69-1.48,1.55-.13-.05.51-.73.91-.71,1.45.02.46.89,1.61.47,2.51,2.03-1.92,2.5-.9.31.44-1.47.9-2.97,1.41-3.55-.67-1.15.94-3.14,2.14-3.6,0-.93,1.17-2.88,2.13-3.12,0-.93,1.05-2.71,1.86-3.12,0-.53-.02-1.56,1.38-2.85.93-.38-.13-.3-.7-.51-.69-.55,0-1.86,1.61-2.7.66-.71-.81.53-2.65,1.14-3.28l-1.68.47c0-.64-.19-1.7.47-2.04,1.34-.68.66,1.02.73,1.08.07.07,1.04-.51,1.2.13.17.69-1.71,2.26-1.44,3.22.95.36,1.77-1.02,2.31-1.13.2-.04.49.25.56.18.05-.05-.19-.45-.02-.85.1-.24,1.37-2.14,1.7-1.78.44.48-2.02,2.68-1.44,3.59.26.27,2.39-.97,2.57-1.26.46-.73.55-2.91,1.74-3.64-1.27-.55-1.66.54-2.52,1.07-1.34-1.57,2.08-1.51,2.83-1.72s2.22-2.71,3.76-2.1ZM139.73,55.14c-.49-.17-2,1.12-1.68,1.43l.95-.37.72-1.06ZM138.05,57.05c-.85-.6-2.09,1.68-2.16,2.39l1.21-1.06.95-1.33ZM138.53,62.07c.61.6,3.9-2.34,2.88-2.99s-3.53,2.34-2.88,2.99ZM146.92,62.07c.32-.83.31-1.71-.36-2.39-1.44,1.03-1.24,1.77.36,2.39Z"
        ></path>
        <path
          class="nlogo"
          d="M91.57,62.05c1.19.84,3.71-3.69,5.85-3.59.09,0,1.26.35,1.32.39.75.62-1.72,2.2-.96,3.1.98.63,2.39-1.05,3.01-1.32.28-.12.48.07.35.35-.43,1.02-4.14,3.06-4.08.6-1.02.97-2.72,2.18-3.24.23-.63.1-1.48,1.04-2.12.91-.57-.11-.85-1.16-1-1.15-.64.02-1.29,1.32-2.36.94-.33-.12-.33-.6-.42-.65-.59-.36-2.19,1.7-2.97.44-.63-1.01,1.13-2.32,1.09-3.35-.16-.17-1.5.89-1.68,1.07-.33.32-1.79,2.65-2.15,2.28s1.95-3.3,1.95-4.03c.9-.14.75-.03.45.68.56.14,1.63-1.14,2.04-.48.75,1.18-1.36,2.4-1.09,3.6,1.99.12,2.94-2.67,4.22-3.32.76-.38,1.71-.15,1.97-.31.1-.06.15-.55.31-.76.65-.86,3.89-4.68,4.88-4.47,1.32.28-1.05,3.14-1.43,3.59-.75.89-3.81,3.43-4.09,4.07-.13.3,0,1.05.15,1.16ZM96.58,54.18c-.56-.55-4.73,4.24-4.55,5.26l3.72-3.82.83-1.44ZM90.76,60.81c.33-.47.86-2.07-.24-1.8s-2.98,3.42-1.35,2.97c.11-.03,1.53-1.09,1.59-1.17ZM94.67,62.07c.61.6,3.9-2.35,2.88-3-1.08-.69-3.49,2.39-2.88,3Z"
        ></path>
        <path
          class="nlogo"
          d="M171.37,58.96c.11.07,1.91-1.8,1.92.24.64-.18,1.69-1.23,2.29-.74,1.28,1.05-2.09,3.2-.71,3.6s3.3-2.65,4.06-3.57c.48-.1.43.21.31.55-.2.55-2.7,3.3-.84,3,.73-.12,1.51-1.19,1.97-1.39.28-.12.47.07.35.35-.41.99-3.61,2.62-3.71.6-.85.99-3.14,1.92-3.02-.12.05-.94.93-1.32,1.18-1.95.51-1.26-1.46.1-1.77.39-.43.4-1.9,2.88-2.51,2.4.39-.93,1.22-1.68,1.57-2.62.12-.32.36-.82-.24-.72l-3,3.24c-1.42-.22-3.51,1.8-3.71-.61-3.99,3.78-3.82-2.04-.61-3,1.22-.37,1.52.36,2.65.37.28.25-2.63,2.97-.84,3.12,1.5.12,3.71-2.5,4.2-3.84l.48.72ZM165.54,59c-.19.02-.91.43-1.11.58-.4.3-2,2.3-1.09,2.5,1.22.26,3.98-3.24,2.2-3.08Z"
        ></path>
        <path
          class="nlogo"
          d="M19.41,58.96l1.88-.2c.88,1.39-.83,3.97-2.28,4.2-.25.04-.69-.24-.79-.17-.29.2-1.33,5.37-2.64,6.58-.63.58-1.1.44-1.34-.36-.53-1.74,2.54-6.21,2.3-6.46-4.01,1.39-3.59-3-.65-4.12s-.04,3.13-1.5,3.17c.07,1.83,3.57-.63,3.94-1.21.45-.7.28-2.28,1.21-2.85.63.39-.02.96-.12,1.43ZM16.53,58.97c-.53-.42-2.06,1.4-2.16,1.91.3.27,2.17-1.34,2.16-1.91ZM20.84,59.44c-1.05-.49-3.18,2.55-2.03,2.87.96.18,2.53-2.35,2.03-2.87ZM15.33,69.01c.18-.17,1.51-3.64,1.68-4.18.22-.66.54-1.31.47-2.04-.37.13-.65.84-.84,1.19-.64,1.15-1.81,3.39-1.8,4.66,0,.38.21.63.48.36Z"
        ></path>
        <path
          class="nlogo"
          d="M113.07,52.33c6.78-.92,5.39,4.82.55,6.05-.7.18-1.47-.06-2.07.33s-1.48,2.23-2.14,2.89c-2.25,2.28-5.21,1.34-4.92-2.04s5.38-6.8,8.57-7.23ZM111.92,58c1.93.63,7.19-3.45,4.32-4.91-3.64-1.85-12.74,3.77-10.85,8.2,1.44,3.38,5.7-2.42,5.31-3.02-.09-.15-.89-.12-.7-.74,1.69.84,2.24-1.66,3.11-2.75.19-.24,1.41-1.49,1.56-1.55,1.13-.48-.71,1.47-.8,1.59-.71,1.01-1.3,2.14-1.96,3.19Z"
        ></path>
        <path
          class="nlogo"
          d="M161.96,62.6c.16.25.19.8-.29.66-2.11-.6-2.39-4.24-3.25-5.97-.46.46-1.77.52-2.09.78-.39.31-1.78,3.13-2.46,3.88-.39.43-.74.97-1.43.84l3.11-4.67c.04-.13-1.52-.14-1.16-1.38.3-1.04,2.29-.82,2.96-1.37.53-.44,2-3.43,2.45-3.59.12-.04.75-.08.79.12-.49.67-2.8,3.47-2.63,4.06.05.18.36.36.59.37.53.01,5.33-3.7,6.53-4.26.46-.21,2.01-.97,1.51.07l-7.63,4.78c.97,1.81.84,3.54,2.23,5.16.22.25.74.43.79.51ZM156.51,56.33c-.32-.04-.61.03-.89.18-1.5.79.78,1.82.89-.18Z"
        ></path>
        <path
          class="nlogo"
          d="M17.97,51.79l-7.87,5.13c.87,1.37.94,3.95,2.01,5.14.48.54,1.31.21,1.07,1.21-2.6-.34-2.59-4.05-3.6-5.98-.46.46-1.77.52-2.09.78-.51.41-1.89,3.39-2.81,4.25-.23.22-.8.73-1.09.47s3.33-3.92,2.84-4.75c-.07-.11-.74-.16-.9-.68-.49-1.64,2.23-1.4,2.96-1.99.54-.44,1.84-3.32,2.41-3.57.25-.11.72-.12.59.34-.22.79-2.6,3.06-2.39,3.82.05.18.36.36.59.37.58.01,5.38-3.8,6.68-4.35.59-.25.95-.43,1.6-.19ZM7.66,56.33c-.32-.04-.61.03-.89.18-1.5.79.78,1.82.89-.18Z"
        ></path>
        <path
          class="nlogo"
          d="M81.96,58.24c-1.24-.59-2.75,3.13-2.61,3.69.28,1.17,1.81-.26,2.13-.46.36-.23.64-.14.48.24-.11.27-1.54,1.23-1.85,1.28-2.45.39-.73-3.86.17-4.74-3.22-.57-3.1.72-4.92,2.38-1.47,1.35-3.73,3.03-5.71,1.65-.32-.23-1.12-1.28-1.11-1.52,0-.15.53-.48.71-.36.05.04.29.87.62,1.18,2,1.87,5.26-1.56,6.57-2.97l-.96-.59c2.48-.09,3.32-2.5,5.03-3.95.57-.49,1.83-1.47,2.54-1.55,3.05-.31-1.22,4.33-1.47,5.02-.12.34.51.6.37.71ZM83.4,52.98c-.53-.59-5.04,4.06-5.27,4.78l2.59-.05c.2-.92,3.31-4.03,2.68-4.73Z"
        ></path>
        <path
          class="nlogo"
          d="M117.2,57.53c-.15,1.95.23.86.82.98,1.28.26-1.55,2.72-1.06,3.57,2.17-.05,2.92-2.21,4.2-3.58.43-.18.43.27.32.56-.2.5-.96,1.12-1.27,1.84-.87,2.03,1.03.98,1.91.23.97-.84,2.52-3.76,4.2-2.75,1.85,1.11-3.17,6.92-3.84,3.23-1.09.67-2.82,1.9-3.23,0-3.13,2.68-3.87-.09-1.56-2.39l-1.68.47c-.07-1.02-.16-2.25,1.2-2.15ZM125.28,58.76c-.82.13-2.15,1.89-2.11,2.71.11,2.36,3.51-1.46,2.79-2.52-.2-.27-.38-.24-.68-.19Z"
        ></path>
        <path
          class="nlogo"
          d="M22.52,61.6c-.11.15.05.48.23.6,1.27.83,4.03-2.34,4.32-2.04.43.44-2.58,2.52-3.25,2.62-3.94.56-1.32-5.29,1.47-4.31.53.78-.89,1.91-1.46,2.4-.36.31-1.27.67-1.31.73ZM24.68,58.97c-.35-.33-2.15,1.26-1.91,1.91.14.15,2.27-1.57,1.91-1.91Z"
        ></path>
        <path
          class="nlogo"
          d="M180.23,57.05c.55.56-.74,1.68-.96.83-.18-.71.72-1.07.96-.83Z"
        ></path>
        <path
          class="nlogo"
          d="M122.47,57.05c.55.56-.74,1.68-.96.83-.18-.71.72-1.07.96-.83Z"
        ></path>
        <polygon
          class="nlogo"
          points="127.8 59.74 128.17 60.11 126.97 61.3 126.6 60.93 127.8 59.74"
        ></polygon>
        <circle class="nlogo" cx="115.53" cy="60.39" r=".3"></circle>
        <path
          class="nlogo"
          d="M115.04,61.12c-.08.16-.41-.14-.23-.48.08-.16.41.14.23.48Z"></path>
      </g>
    </svg>
  </a>
  <div class="buttongroup">
    <a href={import.meta.env.BASE_URL} class="nbutton beranda">
      Beranda
      <span class="strikethrough sBeranda"></span>
    </a>
    <a href=`${import.meta.env.BASE_URL}/hubungi_kami` class="nbutton beranda">
      Kontak
      <span class="strikethrough sBeranda"></span>
    </a>
    <!-- <div class="nbutton openChapterList">
      ?
      <span class="strikethrough s2"></span>
    </div> -->
  </div>
</nav>

<script>
  let isGalleryPage = false;

  function navLogic() {
    let winH = window.innerHeight;
    const nav = document.getElementById("dynamicnav");

    function navDisplayMode() {
      if (!nav) return;
      if (nav?.dataset.stayAwake == "true") {
        nav.classList.remove("navDormant");

        if (window.scrollY > winH || nav.dataset.freeze == "true") {
          nav.classList.remove("static");
        } else {
          nav.classList.add("static");
        }
      } else if (window.scrollY > winH / 3) {
        nav.classList.remove("navDormant");
      } else {
        nav.classList.add("navDormant");
      }
    }
    window.addEventListener("scroll", navDisplayMode);
    window.addEventListener("resize", () => {
      winH = window.innerHeight;
      navDisplayMode();
    });
    navDisplayMode();

    // Section highlight logic
    function chapter() {
      if (isGalleryPage) return;
      // Helper to get offset safely
      function getOffsetTop(id: string): number {
        const el = document.getElementById(id);
        if (!el) {
          console.log(
            `[NAV CHPT] Scroll EVL off, not found ${id}. Caused a cascade, function is disabled.`,
          );
          window.removeEventListener("scroll", chapter);
          return Infinity;
        }
        return el.getBoundingClientRect().top;
      }
      const offsets = {
        about: getOffsetTop("about"),
        gall: getOffsetTop("gall"),
        comm: getOffsetTop("comm"),
        trivia: getOffsetTop("trivia"),
        extra: getOffsetTop("extra"),
      };
      // State for which section is active
      const bools: Record<string, boolean> = {
        aboutbool: false,
        createbool: false,
        gallbool: false,
        commbool: false,
        triviabool: false,
        extrabool: false,
      };
      const sectionsBoolers = [
        { offset: offsets.about, bool: "aboutbool" },
        { offset: offsets.gall, bool: "gallbool", prevBool: "aboutbool" },
        { offset: offsets.comm, bool: "commbool", prevBool: "gallbool" },
        { offset: offsets.trivia, bool: "triviabool", prevBool: "commbool" },
        { offset: offsets.extra, bool: "extrabool", prevBool: "triviabool" },
      ];
      sectionsBoolers.forEach((section) => {
        if (section.offset <= 0) {
          bools[section.bool] = true;
          if (section.prevBool) bools[section.prevBool] = false;
        } else {
          bools[section.bool] = false;
        }
      });
      const sections = [
        { bool: bools.aboutbool, selector: ".sAbout" },
        { bool: bools.gallbool, selector: ".sGall" },
        { bool: bools.commbool, selector: ".sComm" },
        { bool: bools.triviabool, selector: ".sTriv" },
        { bool: bools.extrabool, selector: ".sExtr" },
      ];
      sections.forEach((section) => {
        const el = document.querySelector(section.selector);
        if (!el) return;
        if (section.bool) {
          el.classList.add("navbHighlight");
        } else {
          el.classList.remove("navbHighlight");
        }
      });
    }
    chapter();
    window.addEventListener("scroll", chapter);
  }

  function initPreset() {
    const currentPath = window.location.pathname;
    if (currentPath.includes("gallery")) {
      isGalleryPage = true;
    } else {
      isGalleryPage = false;
    }
    navLogic();
  }

  document.addEventListener("DOMContentLoaded", initPreset);
  document.addEventListener("astro:after-swap", initPreset);
</script>

<style lang="scss">
  @use "../styles/mixins" as *;

  #dynamicnav {
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 0;
    z-index: 5;
    background: rgba(var(--accentRGB), 1);
    backdrop-filter: var(--acrylicBackdrop);
    user-select: none;
    transition: all 0.2s var(--sleek);
    height: var(--navHeight);
    box-shadow: 0 0 20px rgba(var(--foreRGB), 0.5);
  }

  .navDormant {
    //background: var(--base);
    transition-timing-function: var(--accel);
    transform: translateY(calc(var(--navHeight) * -1));
  }

  #nlogo {
    position: relative;
    display: flex;
    align-items: center;
    transform: scale(0.8);
    text-decoration: none;
    transition: background 0.2s var(--sleek);

    & svg {
      width: 100px;
      height: 40px;
    }
  }

  .nlogo {
    width: 100%;
    height: 100%;
    fill: var(--base);
    fill-opacity: 1;
    transition: fill 0.2s var(--sleek);
  }

  .buttongroup {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0.5rem;

    & :nth-child(1) {
      border-radius: calc(var(--rounding) / 3) 0 0 calc(var(--rounding) / 3);
      border-right-width: 1px !important;
    }
    & :nth-last-child(1) {
      border-radius: 0 calc(var(--rounding) / 3) calc(var(--rounding) / 3) 0;
      border-left-width: 1px !important;
    }

    &:hover .nbutton:not(:hover) {
      border: 2px solid var(--base);
    }
  }

  .nbutton {
    height: 60%;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0);
    color: var(--base);
    font-family: var(--content);
    font-size: 1.2rem;
    transition:
      background 0.2s,
      color 0.2s,
      border 0.2s,
      font-weight .2s;
    font-weight: 500;
    padding: 0.3rem 1rem;
    cursor: pointer;
    border: 2px solid transparent;

    &:has(.strikethrough.navbHighlight) {
      text-decoration: none;
    }

    /*
    &:hover::before {
      content: "::"
    }*/

    &:hover {
      background: var(--base);
      color: var(--accent);
      font-weight: 900;

      .strikethrough {
        background-color: var(--base);
      }
    }
    .strikethrough {
      position: relative;
      display: block;
      height: 3px;
      background-color: var(--fore);
      width: 0%;
      transition: all 0.5s var(--sleek);
      &.navbHighlight {
        width: 100%;
      }
    }
  }

  .static {
    background: rgba(var(--baseRGB), 0.8) !important;
    box-shadow: 0 0 0px rgba(var(--foreRGB), 0) !important;

    .buttongroup {
      &:hover .nbutton:not(:hover) {
        border: 2px solid var(--accent);
      }
    }

    .nbutton {
      color: var(--accent);

      &:hover {
        background: var(--accent);
        color: var(--base);
        font-weight: 900;

        .strikethrough {
          background-color: var(--base);
        }
      }
    }
    .nlogo {
      fill: var(--accent);
    }
  }

  .chptOverlay {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    top: 0;
    position: fixed;
    z-index: 6;
    display: flex;
    justify-content: flex-end;
    //padding: 4em 2em 2em 0em;
    transition: all 0.2s var(--sleek);
    pointer-events: none;

    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }

  .creationdialog {
    width: 100%;
    height: 100%;
    background: rgba(var(--baseRGB), 0.5);
    backdrop-filter: var(--acrylicBackdropStrong);
    display: grid;
    place-items: center;
    animation: contentdialog 0.8s forwards var(--sleek);
    opacity: 0;
    transition: all 0.3s var(--accel);
    transform: scale(1.5);
    & a {
      text-decoration: none;
    }
  }

  .cdactive {
    opacity: 1;
    transition: all 0.3s var(--sleek);
    transform: scale(1);
  }

  .cbutton {
    text-align: center;
    color: var(--fore);
    font-family: var(--display);
    font-weight: 700;
    font-size: 2.5rem;
    transition: font-weight 0.5s var(--sleek);
    margin: 1rem 0;

    &:hover {
      font-weight: 800;
      color: var(--prim);
    }
    &.navbHighlight {
      font-weight: 800;
      transition: all 0.5s var(--sleek);
      color: var(--accent);
    }
  }

  .exit {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
  }

  .xcont {
    width: 40px;
    height: 40px;
    margin-right: 2rem;
    background: none;
    cursor: pointer;
    position: relative;
    display: grid;
    place-items: center;
    border-radius: 20px;
    padding: 2em;
    border: 1px solid var(--fore);
    transition:
      transform 0.4s var(--sleek),
      background 0.2s var(--sleek),
      opacity 0.1s var(--sleek);
    transform: translateX(50%);
    opacity: 0;
    cursor: pointer;

    &.xActive {
      opacity: 1;
      transform: translateX(0);
    }

    &:hover {
      background: var(--fore);
      & .x,
      .x::after {
        background: var(--base);
      }
    }
  }

  .x {
    position: absolute;
    background: var(--fore);
    width: 4px;
    transform: rotate(45deg);
    height: 40px;
    transition: 0.2s var(--sleek);

    &::after {
      content: "";
      background: var(--fore);
      width: 4px;
      height: 100%;
      transform: rotate(90deg);
      position: absolute;
      transition: 0.2s var(--sleek);
    }
  }
</style>
